<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
</head>
<body>
<h2>Temperature for the last 8 hours</h2>
<button id="refresh">Refresh</button>
<br/>

<canvas id="myChart" width="1700" height="600"></canvas>


</body>
<script>
    $(function () {
        getStats();
    });

    $('#refresh').click(function() {
        getStats();
    });


    function getStats() {
        since = '2016-01-24';
        until = '2016-06-01';
        $.ajax({
            url: 'http://52.50.54.31:3000?since='+since+'&until='+until,
            methor: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
            type: 'GET',
            success: function (response) {
                console.log(response);

                var data = {
                    labels: response.map(function(bla) {
                        var date = bla.date.slice(5, 16); // 2016-02-13T19:32:55.012Z
                        return date.replace('T', ' ');
                    }),
                    datasets: [
                        {
                            label: "Room temperature",
                            fillColor: "rgba(151,187,205,0.2)",
                            strokeColor: "rgba(151,187,205,1)",
                            pointColor: "rgba(151,187,205,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(151,187,205,1)",
                            data: response.map(function(bla) { return (bla.temperature / 1000).toFixed(2) })
                        }
                    ]
                };

                var ctx = $("#myChart").get(0).getContext("2d");
                var myNewChart = new Chart(ctx);
                myNewChart.Line(data, {});
            },
            error: function (err) {
                console.log(err);
            }
        });
    };
</script>
</html>