<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
</head>
<body>
<h2>Temperature for the last 8 hours</h2>
<select name="time-range" id="time-range">
    <option selected value="12h">Last 12 hours</option>
    <option value="24h">Last 24 hours</option>
    <option value="2d">Last 2 days</option>
    <option value="5d">Last 5 days</option>
    <option value="1w">Entire week</option>
</select>
<button id="refresh">Refresh</button>
<br/>

<canvas id="myChart" width="1700" height="600"></canvas>


</body>
<script>
    $(function ()
    { generateReq(); });
    $('#time-range').change(function() { generateReq(); });
    $('#refresh').click(function() { generateReq(); });


    function generateReq() {
        var since = calculateTime($('#time-range').val());
        getStats(since, new Date().getTime());
    }


    function calculateTime(dateString) {
        var currentDate = new Date();
        switch (dateString) {
            case '12h':
                return currentDate.setDate(currentDate.getHours() - 12);
            case '24h':
                return currentDate.setDate(currentDate.getHours() - 24);
            case '2d':
                return currentDate.setDate(currentDate.getDay() - 2);
            case '5d':
                return currentDate.setDate(currentDate.getDay() - 5);
            case '1w':
                return currentDate.setDate(currentDate.getDay() - 7);
            default:
                console.log('no such day available');
                break;
        }
        return new Date(dateString).getTime();
    }


    function getStats(since, until) {
        $.ajax({
            url: 'http://52.50.54.31:3001?since='+since+'&until='+until,
            methor: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
            type: 'GET',
            success: function (response) {
                console.log(response);

                var data = {
                    labels: response.map(function(bla) {
                        var date = bla.date.slice(5, 16); // 2016-02-13T19:32:55.012Z
                        return date.replace('T', ' ');
                    }),
                    datasets: [
                        {
                            label: "Room temperature",
                            fillColor: "rgba(151,187,205,0.2)",
                            strokeColor: "rgba(151,187,205,1)",
                            pointColor: "rgba(151,187,205,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(151,187,205,1)",
                            data: response.map(function(bla) { return (bla.temperature / 1000).toFixed(2) })
                        }
                    ]
                };

                var ctx = $("#myChart").get(0).getContext("2d");
                var myNewChart = new Chart(ctx);
                myNewChart.Line(data, {});
            },
            error: function (err) {
                console.log(err);
            }
        });
    };
</script>
</html>